nav.contest-tab
  ul
    li
      +link('bài dự thi')(class="title four-title active", data-tabcontent="#submission")
    li
      +link('chủ đề')(class="title four-title", data-tabcontent="#theme")
    li
      +link('thể lệ')(class="title four-title", data-tabcontent="#rule")
