div.block.block-home-bg.block-home-contest
  div.outer
    div.inner
      div.content
        h2.title.third-title CUỘC THI:
        h1.title.first-title PRACTICAL TEST:
        p.text-reward GIẢI NHẤT TRỊ GIÁ 1.000..000.000đ
        p.uppercase Trình diễn  tại SOFRESH
        div.button-wrap
          +link('Xem chi tiết')(class="button")
