div.block.block-home-bg.block-home-sofresh
  div.outer
    div.inner
      div.content
        h2.title.third-title SOFRESH DIGITAL CREATIVE AGENCY
        p.slogan Thể hiện phong cách của bạn tại Sofresh Digital Creative Agency
        ul.photo-wrap
          li
            img(src="images/model-A.jpg", alt="Model A")
          li
            img(src="images/model-B.jpg", alt="Model B")
          li
            img(src="images/model-C.jpg", alt="Model C")
          li
            img(src="images/model-D.jpg", alt="Model D")
        div.button-wrap
          +link('Join')(class="button")
