div.carousel(data-mycarousel="true")
  .preview
    .wrap
      ul.list-item
        li
          +linkImg('Carousel 2012', '', 'images/carousel-2012.jpg')
          h2.title.carousel-title 2012
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2011', '', 'images/carousel-2011.jpg')
          h2.title.carousel-title 2011
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2009', '', 'images/carousel-2009.jpg')
          h2.title.carousel-title 2009
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2008', '', 'images/carousel-2008.jpg')
          h2.title.carousel-title 2008
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2012', '', 'images/carousel-2012.jpg')
          h2.title.carousel-title 2007
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2011', '', 'images/carousel-2011.jpg')
          h2.title.carousel-title 2006
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2009', '', 'images/carousel-2009.jpg')
          h2.title.carousel-title 2005
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        li
          +linkImg('Carousel 2008', '', 'images/carousel-2008.jpg')
          h2.title.carousel-title 2004
          p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

  .controls
    ul
      li
        +link('prev')(class="btn-control btn-prev", data-control="prev")
      li
        +link('next')(class="btn-control btn-next", data-control="next")
